html, body, #fullpage, .mdc-layout-grid, .mdc-layout-grid__inner{height: 100%}

@import url('https://fonts.googleapis.com/css?family=Catamaran:100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900');

/* NATIVO */

body {margin: 0}

/* MDL */

.mdc-typography,
.mdc-typography--display4,
.mdc-typography--display3,
.mdc-typography--display2,
.mdc-typography--display1,
.mdc-typography--headline,
.mdc-typography--title,
.mdc-typography--button{
    font-family: 'Titillium Web', sans-serif !important;
}

.mdc-typography--subheading2,
.mdc-typography--subheading1,
.mdc-typography--body2,
.mdc-typography--body1,
.mdc-typography--caption{
    font-family: 'Titillium Web', sans-serif !important;
}

.mdc-simple-menu{background-color: rgba(255,255,255,0.7)}

/* fullPage.js */

.fp-section, .fp-slide, .fp-tableCell{height: 100% !important;}

/* ESTAÇÃO DIGITAL */

@media screen and (min-width: 768px){ .ed-hide__desktop{ display: none !important } }
@media screen and (max-width: 768px){ .ed-hide__mobile{ display: none !important } }

.ed-header{
    position: absolute;
    margin-top: 24px;
    background-color: transparent;
    z-index: 999
}

.ed-cyan{color: cyan !important;}
.ed-yellow{color: yellow !important;}
.ed-magenta{color: magenta !important;}
.ed-black{color: black !important;}

    /* HOME */

    .ed-home{
        background-color: #454545;
        background-image: url(./images/remo_w-ed-home__bg--img.jpg);
        background-size: cover;
        background-position: top;
        background-blend-mode: multiply
    }

    .ed-home__bg--overlay{background-image: url(images/remo_w-ed-home__bg--overlay.png)}

    .ed-home__button--menu{
        height: 7rem;
        text-align: left;
    }

    .ed-home__button--menu--text, .ed-home__button--menu--hover{
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-weight: 900;
        display: block
    }

    .ed-home__button--menu--text{
        animation-duration: .5s;
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
    }

    .ed-home__button--menu--hover{
        animation-duration: .5s;
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
        position: absolute;
        bottom: 0;
        opacity: 0;
    }

    .ed-home__phone{
        display: block;
        width: 22px;
        height: 38px;
        border-radius: 3px;
        border-width: 4px 2px;
        border-style: solid;
        border-color: #fff;
        position: absolute;
        bottom: 34px;
        left: 16.5%;
        z-index: 99999;
    }

    .ed-home__phone span{
        animation-duration: 1s;
            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
        display: block;
        margin: 20px auto;
        width: 3px;
        height: 6px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid transparent;
    }

    .ed-home__mouse{
        display: block;
        width: 26px;
        height: 46px;
        border-radius: 13px;
        border: 1px solid #fff;
        position: absolute;
        bottom: 34px;
        left: 16.5%;
        z-index: 99999;
    }

    .ed-home__mouse span{
        animation-duration: 1s;
            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
        display: block;
        margin: 7px auto;
        width: 2px;
        height: 6px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid transparent;
    }

    /* QUEM SOMOS */

    .ed-quemsomos, .ed-servicos{background-color: darkgray}




