html, body, #fullpage, .mdc-layout-grid, .mdc-layout-grid__inner{height: 100%}

@import url('https://fonts.googleapis.com/css?family=Catamaran:100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900');

/* NATIVO */

body {margin: 0}

/* MDC */

:root {
    --mdc-theme-primary: #2e3191;
    --mdc-theme-secondary: #917E2E;
}

.mdc-typography,
.mdc-typography--display4,
.mdc-typography--display3,
.mdc-typography--display2,
.mdc-typography--display1,
.mdc-typography--headline,
.mdc-typography--title,
.mdc-typography--button{
    font-family: 'Titillium Web', sans-serif !important;
}

.mdc-typography--subheading2,
.mdc-typography--subheading1,
.mdc-typography--body2,
.mdc-typography--body1,
.mdc-typography--caption{
    font-family: 'Titillium Web', sans-serif !important;
}

.mdc-card{background-color: white}
.mdc-card__media-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.mdc-card > .mdc-button.mdc-button--raised{margin: 16px}
.mdc-menu{background-color: rgba(255,255,255,0.7)}

/* fullPage.js */

.fp-section, .fp-slide, .fp-tableCell{height: 100% !important;}

/* FontAwesome */

.mdc-list .svg-inline--fa{margin-right: 32px}
.svg-inline--fa{margin-right: 8px}

/* PhotoSwipe */

.ed-gallery__format{display: inline-flex}
.ed-gallery figcaption{display: none}
.ed-gallery img{display: none}
.ed-gallery--card__title{
    padding: 8px 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    color: white;
}
.ed-gallery--card{background-position: center}

/* ESTAÇÃO DIGITAL */

@media screen and (min-width: 768px){ .ed-hide__desktop{ display: none !important } }
@media screen and (max-width: 768px){ .ed-hide__mobile{ display: none !important } }

.ed-hide{display: none}

.ed-header{
    position: absolute;
    padding-top: 24px;
    background-color: transparent;
    z-index: 999
}

.ed-header__bg{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    transition-duration: .5s
}

.ed-header--tab .mdc-tab:not(.mdc-tab---active) {color: rgba(255,255,255,0.5)}
.ed-header--tab .mdc-tab.mdc-tab--active, .ed-header--tab .mdc-tab:hover {color: rgba(255,255,255,0.7)}

.ed-cyan{color: #00adee !important;}
.ed-yellow{color: #fff100 !important;}
.ed-magenta{color: #eb008b !important;}
.ed-black{color: #000010 !important;}

.ed-main{background-color: #333333;}

#ed-main__bg{position: absolute; opacity: 0.4; z-index: -1}

.ed-home,
.ed-home--panels,
.ed-home--panels__panel{
    height: 100%
}
.ed-home--panels__panel{display: none;}
.ed-home--panels__panel.active{
    display: block;
    max-height: -webkit-fill-available;
    overflow: overlay
}

.ed-home--panels__panel.active#QuemSomos,
.ed-home--panels__panel.active#Servicos{
    background-color: rgba(255,255,255,1);
}

.ed-quemsomos hr,
.ed-servicos hr{
    width: 10%;
    margin-left: 0;
    border-style: solid;
    border-width: 2px;
}


.ed-home__mouse{
    display: block;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 1px solid #fff;
    position: absolute;
    bottom: 34px;
    left: 50%;
    z-index: 99999;
}

.ed-home__mouse span{
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    display: block;
    margin: 7px auto;
    width: 2px;
    height: 6px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid transparent;
}

.ed-card--content__text{
    padding: 16px;
    text-decoration: none
}

.ed-pagseguro{text-align: center;}
.ed-pagseguro img{width: auto; max-width: calc(100% - 32px); height: auto}

    /* HOME */

    .ed-home__bg--overlay{background-image: url(images/remo_w-ed-home__bg--overlay.png)}

    .ed-home__button--menu{
        height: 7rem;
        text-align: left;
    }

    .ed-home__button--menu--text, .ed-home__button--menu--hover{
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-weight: 900;
        display: block
    }

    .ed-home__button--menu--text{
        animation-duration: .5s;
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
    }

    .ed-home__button--menu--hover{
        animation-duration: .5s;
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
        position: absolute;
        bottom: 0;
        opacity: 0;
    }

    .ed-home__phone{
        display: block;
        width: 22px;
        height: 38px;
        border-radius: 3px;
        border-width: 4px 2px;
        border-style: solid;
        border-color: #fff;
        position: absolute;
        bottom: 34px;
        left: 12.5%;
        z-index: 99999;
    }

    .ed-home__phone span{
        animation-duration: 1s;
            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
        display: block;
        margin: 20px auto;
        width: 3px;
        height: 6px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid transparent;
    }

    /* QUEM SOMOS */

    .ed-quemsomos{height: auto}

    .ed-quemsomos--title{
        background-image: url(images/quemsomos/remow_ed-quemsomos--fig__2.jpg);
        background-position: center;
        background-size: cover;
        margin: -24px -24px 0px -24px;
    }

    .ed-quemsomos--title h1{
        padding-left: 16.6666%
    }

    .ed-quemsomos--img{
        height: 320px;
        background-image: url(images/quemsomos/remow_ed-quemsomos--fig__1.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: contain
    }


    /* SERVIÇOS */



    /* FIZEMOS */

    #Fizemos > .mdc-layout-grid{padding-top: 88px}

    .mdc-layout-grid__inner.ed-fizemos{height: auto}

    .ed-fizemos--gallery--card__1 {background-image: url(./images/galeria); background-size: cover}
    .ed-fizemos--gallery--card__2 {background-image: url(./images/galeria); background-size: cover}
    .ed-fizemos--gallery--card__3 {background-image: url(./images/galeria); background-size: cover}

    /* CONTATO */

    /* DESTAQUE */

    .ed-destaque__title {margin: 0}
    .ed-destaque__subtitle {margin-top: 0} 
    .ed-destaque--card__right{background-color: rgba(255,255,255,0.85)}
    .ed-destaque__preco {text-transform: initial}

    /* LONAS */

    .ed-destaque--lonas{
        background-image: url(./images/remow_ed-lona--bg.jpg);
        background-color: #00adee;
        background-blend-mode: luminosity;
        background-size: cover;
        background-position: center;
    }
    .ed-destaque--lonas--gallery--card__1 {background-image: url(./images/galeria/lonas/thumb/remow_ed-lona--gal--znorte__thumb.jpg); background-size: cover}
    .ed-destaque--lonas--gallery--card__2 {background-image: url(./images/galeria/lonas/thumb/remow_ed-lona--gal--nycc__thumb.jpg); background-size: cover}
    .ed-destaque--lonas--gallery--card__3 {background-image: url(./images/galeria/lonas/thumb/remow_ed-lona--gal--uci__thumb.jpg); background-size: cover}
    .ed-destaque--lonas--gallery--card__4 {background-image: url(./images/galeria/lonas/thumb/remow_ed-lona--gal--festmimo__thumb.jpg); background-size: cover}
    .ed-destaque--lonas--gallery--card__5 {background-image: url(./images/galeria/lonas/thumb/remow_ed-lona--gal--drogaetica__thumb.jpg); background-size: cover}

    /* ADESIVOS */

    .ed-destaque--adesivos{
        background-image: url(images/slj-demo3.jpg);
        background-size: cover;
        background-position: center
    }
    .ed-destaque--adesivos--gallery--card__1 {background-image: url(./images/galeria/adesivos/thumb/remow_ed-lona--gal--znorte__thumb.jpg); background-size: cover}
    .ed-destaque--adesivos--gallery--card__2 {background-image: url(./images/galeria/adesivos/thumb/remow_ed-lona--gal--nycc__thumb.jpg); background-size: cover}
    .ed-destaque--adesivos--gallery--card__3 {background-image: url(./images/galeria/adesivos/thumb/remow_ed-lona--gal--uci__thumb.jpg); background-size: cover}

    /* FORMULÁRIO DE PEDIDO */

    .ed-pedido form.mdc-layout-grid__inner{height: auto}

    .ed-pedido {
        height: 100%; width: 100%;
        position: absolute; top: 0; left: 0;
        background: white;
    }

    .ed-pedido h2, .ed-pedido h4, .ed-pedido h5{margin-bottom: 0}
    .ed-pedido h3{margin-top: 0}

/*    .ed-pedido--panels{border: solid 1px #ccc; border-radius: 8px}*/
    .ed-pedido--panels__panel{display: none;}
    .ed-pedido--panels__panel.active{display: block}






















